* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}


#root{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   min-height: 100vh;
   grid-template-rows: 50px minmax(calc(100vh - 80px), auto) 30px;
   background-color: black;
   color: white;
}

header, footer {
   grid-column: 1/6;
}